<!DOCTYPE html>
<html>
<head>
    <title>Register</title>
    <style>
        body {
            font-family: 'Arial', sans-serif;
            background-color: #f4f4f4;
            margin: 0;
            padding: 20px;
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
        }

        h1 {
            color: #007bff;
        }

        div {
            background-color: #fff;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            padding: 20px;
            border-radius: 8px;
            margin-top: 20px;
            width: 400px; /* Set the width as needed */
        }

        section {
            margin-bottom: 10px;
        }

        button {
            background-color: #007bff;
            color: #fff;
            padding: 12px 20px;
            border: none;
            border-radius: 4px;
            cursor: pointer;
            margin: 10px 0; /* Added margin below each button */
            width: 100%; /* Make all buttons have the same width */
        }

        button:hover {
            background-color: #0056b3;
        }

        nav {
            background-color: #007bff;
            padding: 10px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 100%;
        }

        .navbar-brand {
            color: #fff;
            text-decoration: none;
            font-size: 24px;
            font-weight: bold;
        }

        .logout-btn {
            background-color: #fff;
            color: #007bff;
            padding: 8px 16px;
            border: none;
            border-radius: 4px;
            text-decoration: none;
        }

        .logout-btn:hover {
            background-color: #e6e6e6;
        }
    </style>
</head>
<body>
    <nav>
        <a class="navbar-brand" href="/">Iris</a>
        <form action="/logout" method="post">
            <button class="logout-btn" type="submit">Logout</button>
        </form>
    </nav>
    <h1>Student Details</h1>
    <div>
        <section><b>Name of the student:</b><%= user.Name %></section>
        <section><b>Year:</b><%= user.Year %></section>
        <section><b>StudentId:</b>Rs.<%= user.StudentId %></section>
        <section><b>Department:</b><%= user.Department %></section>
        <section><b>Programme:</b><%= user.Program %></section>
    </div>
    <div>
        <form action="/register" method="get">
            <button type="submit">Register</button>
        </form>
        <form action="/courses" method="get">
            <button type="submit">My Courses</button>
        </form>
    </div>
</body>
</html>
